pkgbase = xlibre-xserver
	pkgver = 25.0.0.7
	pkgrel = 3
	url = https://github.com/X11Libre/xserver
	arch = x86_64
	arch = aarch64
	groups = xlibre
	license = LicenseRef-Adobe-Display-PostScript
	license = BSD-3-Clause
	license = LicenseRef-DEC-3-Clause
	license = HPND
	license = LicenseRef-HPND-sell-MIT-disclaimer-xserver
	license = HPND-sell-variant
	license = ICU
	license = ISC
	license = MIT
	license = MIT-open-group
	license = NTP
	license = SGI-B-2.0
	license = SMLNJ
	license = X11
	license = X11-distribute-modifications-variant
	makedepends = xorgproto
	makedepends = pixman
	makedepends = libx11
	makedepends = mesa
	makedepends = mesa-libgl
	makedepends = xtrans
	makedepends = libxkbfile
	makedepends = libxfont2
	makedepends = libpciaccess
	makedepends = libxv
	makedepends = libxcvt
	makedepends = libxmu
	makedepends = libxrender
	makedepends = libxi
	makedepends = libxaw
	makedepends = libxtst
	makedepends = libxres
	makedepends = xorg-xkbcomp
	makedepends = xorg-util-macros
	makedepends = xorg-font-util
	makedepends = libepoxy
	makedepends = xcb-util
	makedepends = xcb-util-image
	makedepends = xcb-util-renderutil
	makedepends = xcb-util-wm
	makedepends = xcb-util-keysyms
	makedepends = libxshmfence
	makedepends = libunwind
	makedepends = meson
	makedepends = autoconf
	makedepends = automake
	makedepends = binutils
	makedepends = fakeroot
	makedepends = findutils
	makedepends = gawk
	makedepends = gcc
	makedepends = gettext
	makedepends = gzip
	makedepends = libtool
	makedepends = m4
	makedepends = make
	makedepends = patch
	makedepends = pkgconf
	options = !debug
	source = https://codeload.github.com/X11Libre/xserver/tar.gz/refs/tags/xlibre-xserver-25.0.0.7
	source = xvfb-run
	source = xvfb-run.1
	sha256sums = 2bae1d8d1a4bcd85305b3d891e7ad6de5cb5b4ea4f80f96cd255402af536c787
	sha256sums = 27ce50f4432e5549e662db857118761fa9cd74c6900aac52c4db768c956838db
	sha256sums = 2460adccd3362fefd4cdc5f1c70f332d7b578091fb9167bf88b5f91265bbd776

pkgname = xlibre-xserver
	pkgdesc = XLibre fork of X.Org X server
	install = xlibre-xserver.install
	depends = xlibre-xserver-common
	depends = xlibre-xf86-input-libinput
	depends = libepoxy
	depends = libxfont2
	depends = pixman
	depends = libunwind
	depends = dbus
	depends = libgl
	depends = nettle
	depends = libxdmcp
	depends = sh
	depends = glibc
	depends = libxau
	depends = libtirpc
	depends = libpciaccess
	depends = libdrm
	depends = libxshmfence
	depends = libxcvt
	provides = xorg-server
	provides = X-ABI-VIDEODRV_VERSION=28.0
	provides = X-ABI-XINPUT_VERSION=26.0
	provides = X-ABI-EXTENSION_VERSION=11.0
	provides = x-server
	conflicts = xorg-server
	conflicts = xorg-server-common<25.0.0.0
	conflicts = nvidia-utils<=331.20
	conflicts = glamor-egl
	conflicts = xf86-video-modesetting
	replaces = glamor-egl
	replaces = xf86-video-modesetting

pkgname = xlibre-xserver-xephyr
	pkgdesc = XLibre fork of X.Org nested X server that runs as an X application
	depends = xlibre-xserver-common
	depends = X-ABI-XINPUT_VERSION=26.0
	depends = libxfont2
	depends = libgl
	depends = libepoxy
	depends = libunwind
	depends = xcb-util-image
	depends = xcb-util-renderutil
	depends = xcb-util-wm
	depends = xcb-util-keysyms
	depends = pixman
	depends = nettle
	depends = libtirpc
	depends = xcb-util
	depends = libxdmcp
	depends = libx11
	depends = libxau
	depends = libxshmfence
	depends = glibc
	provides = xorg-server-xephyr
	conflicts = xorg-server-xephyr

pkgname = xlibre-xserver-xvfb
	pkgdesc = XLibre fork of X.Org virtual framebuffer X server
	license = MIT
	license = GPL-2.0-only
	depends = xlibre-xserver-common
	depends = X-ABI-XINPUT_VERSION=26.0
	depends = libxfont2
	depends = libunwind
	depends = pixman
	depends = xorg-xauth
	depends = libgl
	depends = nettle
	depends = libtirpc
	depends = libxdmcp
	depends = sh
	depends = glibc
	depends = libxau
	provides = xorg-server-xvfb
	conflicts = xorg-server-xvfb

pkgname = xlibre-xserver-xnest
	pkgdesc = XLibre fork of X.Org nested X server that runs as an X application
	depends = xlibre-xserver-common
	depends = X-ABI-XINPUT_VERSION=26.0
	depends = libxfont2
	depends = libunwind
	depends = libxext
	depends = pixman
	depends = nettle
	depends = libtirpc
	depends = libxdmcp
	depends = glibc
	depends = libx11
	depends = libxau
	provides = xorg-server-xnest
	conflicts = xorg-server-xnest

pkgname = xlibre-xserver-common
	pkgdesc = XLibre fork of X.Org Xorg server common files
	depends = xkeyboard-config
	depends = xorg-xkbcomp
	depends = xorg-setxkbmap
	provides = xorg-server-common
	conflicts = xorg-server-common

pkgname = xlibre-xserver-devel
	pkgdesc = XLibre fork of X.Org development files for the X.Org X server
	depends = xorgproto
	depends = mesa
	depends = libpciaccess
	depends = pixman
	depends = xorg-util-macros
	provides = xorg-server-devel
	conflicts = xorg-server-devel
